config TOUCHSCREEN_FOCALTECH_0FLASH_V2_MMI
	tristate "FocalTech Touchscreen Driver"
	default n
	help
	  Say Y here if you wish to include support for FocalTech touch panel.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the module will be called focaltech_0flash_mmi_v2.

if TOUCHSCREEN_FOCALTECH_0FLASH_V2_MMI

config FTS_MTK_CHECK_PANEL
	bool "FocalTech panel check for Mediatek devices"
	default n
	help
	  Say Y here if you wish to include support for FocalTech panel check for Mediatek devices.

config FTS_IC_NAME_FT8725
	bool "Support FocalTech ft8725 touch panel IC"
	default n
	help
	  Say Y here if you wish to include support for FocalTech ft8725 touch panel IC.

config FTS_IRQ_DIS_FOR_RESET
	bool "Disable IRQ on certain cases in FocalTech touch panel"
	default n
	help
	  Say Y here if you wish to include support to disable IRQ on certain cases in FocalTech touch panel.

config FTS_MTK_SPI
	bool "Update SPI timing on FocalTech touch panel"
	default n
	help
	  Say Y here if you wish to include support to update SPI timing on FocalTech touch panel.

config FTS_LAST_TIME
	bool "Get last touch timestamp on FocalTech touch panel"
	default n
	help
	  Say Y here if you wish to include support to get last touch timestamp on FocalTech touch panel.

config INPUT_FOCALTECH_0FLASH_MMI_ENABLE_DOUBLE_TAP
	bool "Support double tap on FocalTech touch panel"
	default n
	help
	  Say Y here if you wish to include support for double tap on FocalTech touch panel.

endif
