config MMI_DECRETE_CHARGER_CP_QC3P
	tristate "Decrete CP QC3P Charger MMI"
	default n
	help
	  Say Y here if you have a mmi_decrete_charger_cp_qc3p compatible
	  device connected.

	  This driver can also be built as a module.  If so, the module
	  will be called mmi_decrete_charger_cp_qc3p.
